* {
  box-sizing: border-box;
}

body {
  background-color: black;
  /* text-align: center; */
  color: #ffff;
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}
p {
  font-size: 2.1rem;
}

input {
  background-color: grey;
  font-size: 1.3rem;
  color: white;
}

a {
  margin: 50px;
  width: 100%;
  padding: 20px;
}

.anim {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: white;
  text-align: center;
}

.hideAnim {
  display: none;
}

.hideBtn {
  display: none;
}
.showAnim {
  display: block;
}

.buttons {
  margin-top: 200px;
}

.welcome-txt {
  font-family: "Ibarra Real Nova", serif;
}

.sign {
  font-size: 2.2rem;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.img {
  height: 400px;
  width: 400px;
}

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* height: 100px; */
}
.arrow {
  margin-top: -50px;
}

/* 
.carousel-control-next-icon{
  display: none; 
   opacity: 0;
}

.carousel-control-prev-icon{
  display: none;
  opacity: 0;
}  */

.addition_desc {
  background-color: orange;
  height: 100%;
  margin-bottom: 2px;
}
.addition_desc > h3 {
  font-size: 2.9rem;
}
.desc > p {
  font-size: 1rem;
}

.a-tag:hover {
  text-decoration: none;
}

.addition_solve {
  background-color: white;
  color: black;
  height: 50vh;
}

.addAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  display: none;
}

.showAddAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* display: block; */
}

main {
  text-align: center;
}

.addition-result {
  display: none;
}
.showResult {
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: scale(100);
  transform-origin: left;
}

/* swup animation */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.transition-swipe {
  transition: 0.7s ease-in-out;
  transform: scaleX(0);
  opacity: 0;
}

html.is-animating .transition-swipe {
  transform: scaleX(1);
  opacity: 1;
}

html.is-leaving .transition-swipe {
  /* transform: scaleX(1); */
  opacity: 1;
}

/* swup animation ends here */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header > h1 {
    font-size: 1.6rem;
  }

  h1 > span {
    font-size: 1.4rem;
  }

  a {
    /* text-align: center;
   */
    width: 50%;
  }

  .anim {
    text-align: center;
  }

  .desc {
    font-size: 1.3rem;
  }

  .loading {
    width: 100%;
    height: 190vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: scale(100);
    transform-origin: top;
  }

  .transition-swipe {
    transition: 0.9s ease-in-out;
    transform: scaleY(0);
  }

  .addition_desc > h3 {
    font-size: 1.9rem;
    font-weight: bolder;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .anim {
    text-align: center;
  }
  a {
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .anim {
    text-align: center;
  }

  a {
    /* width: 130%; */
    /* width:120%; */
    /* padding: 40px; */
    margin: 50px;
    width: 100%;
    padding: 20px;
  }
}
