body {
  background-color: black;
  text-align: center;
  color: #ffff;
}

header{
    text-align: center;
}

h1 {
  font-size: 2.5rem;
}
p {
  font-size: 2.1rem;
}

input {
  background-color: grey;
  font-size: 1.3rem;
  color: white;
}



a{
    width: 50%;
}


.anim{
   display: flex;
   justify-content: center;
   align-items: center;
}



::placeholder {
  color: white;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.btn {
  margin: 50px;
 
}
.userName {
  margin-top: 30px;
}

.hideAnim {
  display: none;
}

.hideBtn {
  display: none;
}
.showAnim {
  display: block;
}

.buttons {
  margin-top: 200px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header > h1 {
    font-size: 1.6rem;
  }

  h1 > span {
    font-size: 1.4rem;
  }

  .btn {
    text-align: center;

    width: 50%;
  }

  .desc{
      font-size: 1.3rem;
  }
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn {
   /* width: 20%; */
   
    margin: 30px;
   padding-left: 10%;
   padding-right:10%;
  }
}


 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
 }
